.idea/
.gradle/
build/
*.apk
*.aar
*.so
*.zip
*.rar
*.jar
*.class
.DS_Store
.project
.classpath
*.log
local.properties
.swp
*.swo
*~
.buildlog
*.nib
*.pbxuser
*.perspectivev3
*.xcworkspace/xcuserdata
Build/
.gradle
.idea
*.jks
*.keystore
*.swiftpm
.swiftpm
.vscode
